.conteiner-individual{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

.imagen-texto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-detail{
    width: 250px;
    margin-right: 50px;
    transition: all 1.5s;
}

.img-detail:hover {
    transform: scale(1.3);
}

.info-detail {
    font-size: medium;
    font-weight: 500;
    font-size: larger;
    text-align: center;
}

.button-carrito {
    margin-left: 20px;
    color: white;
    background-color: rgb(40, 105, 40);
    border: 2px solid rgb(221, 208, 208);
}

