.item-card{
    background-color: white;
    color: black;
    border: 5px solid black;
    margin: 30px;
    max-width: 350px;
    transition: all 1s;
}

.item-card:hover{
    box-shadow: 0px 20px 20px black;
    transform: scale(1.05);
}

.item-card-header {
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(117, 53, 53);
}

.item-card-img {
    width: 330px;
    height: 300px;
}

.precio-cards {
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}


.detalle {
    margin: 10px;
    margin-left: 37.5%;
}