.strong-nav {
    font-style: italic;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.strong-nav:hover {
    color: white;
    text-decoration: none;
}

.menu-hamburguesa {
    color: white;
    border: 2px solid white;
}

.hamburguesa-span {
    color: white;
}