.strong-nav {
    font-style: italic;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.strong-nav:hover {
    color: white;
    text-decoration: none;
}

.menu-hamburguesa {
    background-color: white;
    border: 2px solid white;
}


.cart-nav-li {
    color: white;
  }