.cart-table {
    border-collapse: collapse;
    width: 95%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .cart-table th,
  .cart-table td {
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    border: 2px solid white;
  }
  
  .cart-table th {
    background-color:  #864a23;
  }
  
  .cart-table td img {
    max-width: 80px;
  }

  .delete-button{
    background-color: rgb(212, 19, 19);
    color: white;
  }
  
  .empty {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-top: 20px;
  }
  
  .empty a {
    color: white;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 15px;
  }
  
  .empty a:hover {
    text-decoration: none;
  }