body {
  background-image: url(https://w7.pngwing.com/pngs/644/590/png-transparent-texture-mapping-paper-huawei-mate-8-android-wood-texture-texture-3d-computer-graphics-brown.png);
}
.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}


